.border{
    border:black solid 2px;
}
.block{
    display:block;
}
.inline{
    display:inline;
}
.box{
    width: 50px;
    height:50px;
}
.inline-block{
    display:inline-block;
}

.list-item{
    display: list-item;
}

div.list-item{
    list-style:disc;
}